<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\Miguel\Documents\NetBeansProjects\SistemaSalaDeComputo\dist\SistemaSalaDeComputo.jar</jar>
  <outfile>C:\Users\Miguel\Desktop\Entrega\SistemaPrestamo.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\Miguel\Downloads\icono.ico</icon>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8.0_201</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
  <splash>
    <file>D:\splash.bmp</file>
    <waitForWindow>true</waitForWindow>
    <timeout>15</timeout>
    <timeoutErr>true</timeoutErr>
  </splash>
</launch4jConfig>